@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

:root {
    /****************** COLORS **********************/
    --primary: #367e34;
    --bg-color: #e6f4e5;
    --secondary: #f76d1b;
    --success: #00c48c;
    --error: #e63946;
    --black: #212121;
    --seven-five-black: #212121bf;
    --five-zero-black: #21212180;
    --two-five-black: #21212140;
    --one-zero-black: #2121211a;
    --zero-five-black: #2121211a;
    --white: #fff;

    /****************** FONT SIZES **********************/
    --heading: 24px;
    --body-medium: 16px;
    --body-regular: 14px;

    --card-padding: 16px;
    --card-radius: 20px;
    --btn-radius: 8px;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 100vh;
}

p {
    font-size: var(--body-regular);
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Side Navigation */

.side-nav {
    flex: 25%;
    height: 100vh;
    border-right: 1px solid #bbbaba;
    position: sticky;
    overflow: hidden;
    padding: 20px;
}

.tax-buddy-img {
    height: 60px;
}

.nav-links {
    width: 100%;
    margin-top: 40px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--body-regular);
}

.nav-links .alert-link {
    color: var(--white);
    padding: 8px 4px;
    width: 70%;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
    background-color: #080;
}

.nav-links a:hover,
.sign-out-link:hover {
    transform: translateY(-2px);
    background-color: #7e7d7d;
}

.link {
    width: 75%;
    transition: transform 0.5s ease;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    padding: 6px 8px;
}

.link:hover {
    color: var(--white);

}

.sign-out-wrapper {
    margin-top: 150px;
    font-size: var(--body-regular);
    display: flex;
}

.sign-out-link {
    color: var(--white);
    padding: 8px 10px;
    width: 90%;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.sign-out-link {
    background-color: #f00;
}

/* Container */

.ntn-container {
    flex: 1fr;
    padding: 20px 40px 15px 15px;
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Notification Header  */

.notification-header {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.header-top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-top a {
    display: none;
}

.header-top h3 {
    font-size: var(--heading);
    font-weight: 500;
}

.user-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user-profile .img-wrapper {
    background-color: var(--bg-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid #000; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-profile .user {
    text-align: end;
    line-height: 2;
}

.user h4 {
    font-weight: 500;
}

/* No Notification Display  */

.notification-container {
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background: var(--bg-color);
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-display {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: var(--body-regular);
}

.notification-display img {
    align-self: center;
    width: 64px;
    height: 64px;
}

/* Notification Messages Section */

.notification-messages {
    margin-top: 30px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.btn-container button {
    padding: 10px;
    border-radius: 8px;
    font-size: var(--body-regular);
    color: #f9fafb;
    border: none;
}

.read-btn {
    background-color: var(--primary);
}

.delete-btn {
    background-color: #f00;
}

.message-division {
    background-color: #e6e6ff;
    padding: 18px;
    border-radius: 20px;
    border: 1px solid var(--black);
    margin: 30px 0px;
}

.inner-btn {
    display: flex;
    font-size: var(--body-medium);
    justify-content: space-between;
    margin-bottom: 40px;
}

.inner-btn .new {
    color: #00f;
}

.message-division .content {
    font-size: var(--body-medium);
    width: 80%;
}

.message-division .date-time {
    margin-top: 5px;
    color: #4a5565;
}

/* Notification Reminder  */

.notification-reminder {
    background-color: #fef0e8;
    padding: 16px;
    border-radius: 20px;
    margin: 70px 0;
}

.notification-reminder h4 {
    font-size: var(--card-radius);
    font-weight: 500;
    margin-bottom: 15px;
}

.notification-reminder p {
    font-size: var(--body-regular);
    line-height: 2;
}

/* Footer Navigations. */

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    border-top: 1px solid var(--two-five-black);
    display: none;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 0;
    z-index: 999;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    color: var(--five-zero-black);
    text-decoration: none;
}

.nav-item i {
    font-size: 20px;
    font-weight: 500;
}

.nav-item.active {
    color: var(--primary);
}

.new.unread {
    background: #dc3545;
    color: white;
}

.new.read {
    background: #6c757d;
    color: white;
}

.ph-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.btn-container button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.inner-mark-as-read:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.footer-message {
    font-size: var(--body-regular);
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    bottom: 0px;
    right: 0;
}

.footer-message .act {
    color: var(--primary);
}

@media (max-width: 600px) {
    .side-nav {
        display: none;
    }

    .ntn-container {
        background-color: var(--bg-color);
        width: 100%;
        padding: 15px;
    }

    .user-profile {
        display: none;
    }

    .header-top a {
        display: block;
    }

    .notification-container {
        margin: 0px auto;
        background-color: var(--white);
        height: 50%;
        width: 90%;
        left: 50%;
    }

    .bottom-nav {
        display: flex;
    }

    .footer-message {
        display: none;
    }
}
