@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #367e34;
  --secondary: #f76d1b;
  --success: #00c48c;
  --error: #e63946;
  --black: #212121;
  --seven-five-black: #212121bf;
  --five-zero-black: #21212180;
  --two-five-black: #21212140;
  --one-zero-black: #2121211a;
  --zero-five-black: #2121211a;
  --white: #fff;
}

html {
  font-size: 62.5%;
  /* 1 rem= 10px */
}

body {
  font-family: "Poppins", sans-serif;
}

/* Pop up Screen */
.splash_screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}

.splash_screen.hide {
  opacity: 0;
  visibility: hidden;
}
.splash_logo {
  width: 30rem;
}

.splash_text {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Index Design */
.onboarding {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  opacity: 0;
  transition: opacity 0.8s ease;
}

.onboarding.show {
  opacity: 1;
}

/* Progress & Skip */
.onboarding_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Progress Dots */
.onboarding_progress .dot {
  height: 8px;
  width: 8px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.dot.last {
  width: 3rem;
  border-radius: 10px;
}

.dot.active {
  background: var(--primary);
}

/* Skip */
.onboarding_skip {
  text-decoration: none;
  font-size: 1.4rem;
  color: #ccc;
}

/* Splash Screen Image & Body */
.onboarding_image {
  width: 100%;
  max-width: 30rem;
  margin-bottom: 5rem;
}

.onboarding_title {
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1rem;
  font-weight: 600;
}

.onboarding_text {
  font-size: 1.3rem;
  color: var(--black);
  /* width: 35rem; */
  margin: 0 auto;
  line-height: 2;
}

.onboarding_btn {
  background: var(--primary);
  color: white;
  padding: 2rem 3rem;
  border: none;
  border-radius: 30px;
  font-size: 1.8rem;
  cursor: pointer;
  margin-top: 3rem;
  width: 100%;
}

.onboarding_btn-start {
  background: var(--primary);
}

/* Onboarding Slides */
.onboarding_slide {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.onboarding_slide.active {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Login */
.login {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

/* Login Header */
.login_header {
  text-align: center;
}

.login_logo {
  width: 13rem;
}

.login_welcome {
  width: 25rem;
  font-size: 1.2rem;
  color: var(--primary);
  line-height: 1.5;
}

/* Login Form */
.login_form-container {
  width: 100%;
}

.login_field {
  margin-bottom: 2rem;
}

.login_label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  display: block;
}

.login_input {
  width: 100%;
  padding: 1.4rem;
  border: none;
  border-radius: 7px;
  font-size: 1.6rem;
  background: rgba(33, 33, 33, 0.05);
}

/* Selector */
.login_input-select {
  background-color: var(--secondary);
  color: #fff;
  font-weight: 500;
}

.login_input-select option {
  background: #fef0e8;
  border: none;
  border-radius: 10px;
  color: var(--five-zero-black);
  padding: 20rem;
  text-align: left;
}

/* Forgot Passsword */
.login_forgot {
  display: block;
  text-align: right;
  font-size: 1.3rem;
  color: var(--secondary);
  text-decoration: none;
}

/* Terms & Conditons */
.terms_conditions {
  font-size: 1.4rem;
  color: var(--secondary);
  display: flex;
  gap: 3px;
  align-items: center;
}

.terms_conditions-link {
  text-decoration: none;
  color: var(--secondary);
}

.terms_conditions-input {
  width: 2rem;
  height: 2rem;
  accent-color: var(--secondary);
}

.password-wrapper {
  position: relative;
}

.password-input {
  width: 100%;
  padding-right: 3rem;
}

.password-toggle {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.8rem;
  color: #777;
  transition: color 0.3s ease;
}

.password-toggle:hover {
  color: var(--primary);
}

/* Login Button */
.login_button {
  width: 100%;
  padding: 1rem;
  margin-top: 5rem;
  border: none;
  border-radius: 6px;
  background: var(--primary);
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
}

/* Login Footer */
.login_footer {
  width: 100%;
  position: relative;
}

/* Divider */
.login_divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1.2rem 0;
  font-size: 1.4rem;
}

/* Pseudoclass for divider */
.login_divider::before,
.login_divider::after {
  content: "";
  flex-grow: 1;
  height: 1px;
  background: #ccc;
  margin: 0 1rem;
}

/* Login socials */
.login_socials {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* Login social image */
.login_social-link img {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 1rem;
}

/* Signup text */
.login_signup-text {
  margin-top: 9rem;
  text-align: center;
  font-size: 1.6rem;
}

.signup_link {
  color: var(--primary);
  font-weight: 600;
}

/* Choose Account */
.user_type {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user_type-heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.user_type-text {
  font-size: 1.2rem;
  color: var(--five-zero-black);
}

.user_type-buttons {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.user_type-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 3rem;
  border: 1px solid #ccc;
  border-radius: 2rem;
}

/* Verify Code */
.verify {
  width: 90%;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 3rem;
}

.back-arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  text-decoration: none;
  font-size: 2rem;
  color: var(--black);
}

.verify_title {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.verify_subtext {
  color: #555;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.verify_email {
  color: var(--primary);
  font-weight: 500;
}

.otp_inputs {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.otp_input {
  width: 4rem;
  height: 4rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8rem;
  outline: var(--primary);
  transition: border-color 0.2s;
}

.otp_input:focus {
  border-color: var(--primary);
}

.verify_resend {
  font-size: 1.3rem;
  color: #777;
  margin-bottom: 2rem;
}

.resend_link {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}

.verify_btn {
  background: var(--primary);
  color: var(--white);
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 1.4rem;
  font-size: 1.6rem;
  cursor: pointer;
}

/* Forgot Password */
.auth-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin: 0 auto;
  width: 100%;
  max-width: 50rem;
  padding: 4rem 3rem;
}

.auth-top {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.auth-back {
  text-decoration: none;
  font-size: 1.8rem;
  color: var(--black);
}

.auth-title {
  font-size: 1.8rem;
  font-weight: 500;
}

.auth-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.auth-text_heading {
  font-size: 1.4rem;
  color: var(--primary);
  font-weight: 500;
}

.auth-text_body {
  font-size: 1.4rem;
  color: #ccc;
}

.auth-bottom {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.email-verification {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-verification_input {
  margin-bottom: 1rem;
}

/* Tax History */
.container {
  width: 90%;
  max-width: 50rem;
  padding: 4rem 3rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container-top {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.container-top_text-heading {
  font-size: 2rem;
  margin-bottom: 4px;
}

.subtitle {
  font-size: 1.3rem;
  color: #666;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background: var(--white);
  border-radius: 1rem;
  padding: 1.4rem;
}

.card h3 {
  font-size: 1.3rem;
  font-weight: 500;
  color: #212121bf;
}

.card.paid {
  background: #d7f5d3;
}

.card.unpaid {
  background: #f8d7d7;
  color: #c92a2a;
}

.card.amount {
  background: #e6e4fa;
  color: #1a1aff;
}

.filters {
  display: flex;
  gap: 8px;
  margin: 15px 0;
  flex-direction: column;
}

select {
  flex: 1;
  padding: 1rem;
  border-radius: 8px;
  border: none;
  background: #ff7a00;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.empty-state {
  background: var(--white);
  border-radius: 12px;
  padding: 5rem 1rem;
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.empty-state_calendar {
  font-size: 5rem;
}

.empty-state button {
  background: var(--primary);
  border: none;
  color: white;
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

/* Tax History Paid */
.paid-state {
  background: var(--white);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem 0;
  border-radius: 1.2rem;
}

.paid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paid-top_head {
  font-size: 2rem;
  font-weight: 500;
}

.paid-top_body {
  color: var(--error);
}

.paid-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paid-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paid_green {
  color: var(--primary);
}

.paid-text_top {
  color: #1a1716bf;
  font-size: 1.8rem;
}

.paid-btn {
  background: var(--primary);
  border: none;
  color: var(--white);
  padding: 1.2rem 1.6rem;
  width: 100%;
  font-weight: 600;
  border-radius: 8px;
}

.check-icon {
  text-decoration: none;
  color: var(--white);
  font-size: 1.3rem;
  border: 1px solid var(--white);
  border-radius: 50%;
  align-items: center;
  padding: 3px;
}

.unpaid-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* Mark as Paid MOdal */
/* Background overlay */
.bottom_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: flex-end; /* bottom position */
  z-index: 999;
  transition: opacity 0.3s ease;
}

/* Modal box */
.modal_content {
  background: #fff;
  width: 100%;
  max-width: 50rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 13rem 2rem;
  text-align: center;
  animation: slideUp 0.35s ease;
}

.modal_content h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.modal_content p {
  color: #555;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.modal_details p {
  margin: 5px 0;
  font-size: 1.6rem;
}

/* Buttons */
.confirm_btn {
  width: 100%;
  background: #1f6f34;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 2rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}

.cancel_btn {
  width: 100%;
  background: transparent;
  border: 1.5px solid #1f6f34;
  color: #1f6f34;
  border-radius: 8px;
  padding: 2rem;
  font-weight: 500;
  margin-top: 0.8rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* Slide up animation */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Success Toast */
.toast {
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background: #1f6f34;
  color: white;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 0.95rem;
  font-weight: 500;
  opacity: 0;
  transition: all 0.4s ease;
  z-index: 9999;
}

/* Show animation */
.toast.show {
  top: 20px;
  opacity: 1;
}

/* toast notification */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #198754;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  transform: translateX(150%);
  transition: transform 0.3s ease;
}

.toast.show {
  transform: translateX(0);
}
